@import './abstract/vars';
@import './abstract/mixins';
@import './abstract/fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif
}

body {
    width: 99%;
    height: 100vh;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.youtube {
    @include flex(center, center, wrap);
    margin: 2rem 0;
}

.bg-main {
    background-image: url(../img/background/designblack.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
}

.formasDePago{ @include flex(left, center, wrap);
}

.figPayment{display: block;
    justify-content: center;
    align-items: center;
}

.img-pregfrec{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }

.paymentLogo{
    height: 260px;
    width: 200px;
}

/* Gradiente */
.lineargradient {
    background: linear-gradient(to right, #898A8A, #000000);
}

/*Fin Gradiente */

/* Inicio Configuración Nav */

nav div ul li {
    margin-right: 3.125rem;
    white-space: 0.625rem;
}

.botonera {
    text-decoration: none;
    color: $textColorPrimary;
    font-size: $fontMD;
    cursor: pointer;

    &:hover {
        color: $textColorSecondary;
    }
}

.buscadorprod {
    @extend .botonera;
    font-size: $fontSM;
}

/* configuracion footer */

footer {
    @include flex(end, space-between, wrap);
    padding: 1.8rem 2rem;
    a{
        @include setText($fontMD, $textColorPrimary, right, normal);
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: $textColorSecondary;
        }
    }
}

    .redes {
        display: flex;
        align-items: flex-end;
    }

    /* fin configuracion footer */

    .productos {
        display: flex;
        justify-content: center;
        margin: 2rem;
        flex-wrap: wrap;
    }

    .producto {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
    }


    @media (min-widht:1024px) {
        .flex-direction {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }