//backgrounds
.bg-black {
    background-color: #000000;
}

.bg-red {
    background-color: #BF0000;
}

.bg-graystrong {
    background-color: #424242;
}

.bg-graymedium {
    background-color: #898A8A;
}

.bg-graylight {
    background-color: #E0E5E4;
}

.bg-white {
    background-color: #ffffff;
}

// tamaño imagenes
.img-logo {
    width: 1%;
}

.img-prod {
    width: 40rem;
    
}

.ig{
    width: 4rem;
    margin: 1rem;
}


